## Prohibit the automatic placement of pins that are connected to VCC or GND for configuration.
CONFIG PROHIBIT=P60;
CONFIG PROHIBIT=P69;
CONFIG PROHIBIT=P144;
CONFIG PART=XC6SLX9-TQG144-2;


# Clock
NET "CLOCK_32<0>" LOC = "P94" | IOSTANDARD = LVTTL | PERIOD=31.25ns;

# 7-segment display

NET "SS_ANODES<0>" LOC="P85";
NET "SS_ANODES<1>" LOC="P79";
NET "SS_ANODES<2>" LOC="P56";
NET "SS_ANODES<3>" LOC="P48";

NET "SS_SEGS<7>" LOC="P51";  # DP
NET "SS_SEGS<6>" LOC="P81";
NET "SS_SEGS<5>" LOC="P61";
NET "SS_SEGS<4>" LOC="P58";
NET "SS_SEGS<3>" LOC="P67";
NET "SS_SEGS<2>" LOC="P66";
NET "SS_SEGS<1>" LOC="P83";
NET "SS_SEGS<0>" LOC="P75";

# Joystick
# -- NET "BTN_UP"      LOC="P50";
# -- NET "BTN_DOWN"    LOC="P55";
# -- NET "BTN_LEFT"    LOC="P57";
# -- NET "BTN_RIGHT"   LOC="P59";
# -- NET "BTN_CENTER"  LOC="P47";

# Input SW
# -- NET "SWITCH<7>" LOC = "P114"; # IOSTANDARD=LVTTL;
# -- NET "SWITCH<6>" LOC = "P115"; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<5>" LOC = "P116"; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<4>" LOC = "P117"; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<3>" LOC = "P118"; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<2>" LOC = "P119" ; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<1>" LOC = "P120" ; # | IOSTANDARD=LVTTL;
# -- NET "SWITCH<0>" LOC = "P121" ; # | IOSTANDARD=LVTTL;

# LEDs
#NET "LED<0>" LOC = "P134";
#NET "LED<1>" LOC = "P133";
#NET "LED<2>" LOC = "P132";
#NET "LED<3>" LOC = "P131";
#NET "LED<4>" LOC = "P127";
#NET "LED<5>" LOC = "P126";
#NET "LED<6>" LOC = "P124";
#NET "LED<7>" LOC = "P123";

# VGA
# -- NET "VGA_R<0>"  LOC = "P78" | IOSTANDARD=LVTTL;
# -- NET "VGA_R<1>"  LOC = "P74" | IOSTANDARD=LVTTL;
# -- NET "VGA_R<2>"  LOC = "P95" | IOSTANDARD=LVTTL;
# -- NET "VGA_G<0>"  LOC = "P84" | IOSTANDARD=LVTTL;
# -- NET "VGA_G<1>"  LOC = "P82" | IOSTANDARD=LVTTL;
# -- NET "VGA_G<2>"  LOC = "P80" | IOSTANDARD=LVTTL;
# -- NET "VGA_B<0>"  LOC = "P92" | IOSTANDARD=LVTTL;
# -- NET "VGA_B<1>"  LOC = "P87" | IOSTANDARD=LVTTL;
# -- NET "VGA_VSYNC" LOC = "P99" | IOSTANDARD=LVTTL;
# -- NET "VGA_HSYNC" LOC = "P97" | IOSTANDARD=LVTTL;
